.home {
    width: 100%;
    height: 100%;
    position: relative;
    .cameraView {
        position: fixed;
        text-align: center;
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 5px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        img {
            text-align: center;
        }
    }
    .controlTouchView {
        position: fixed;
        z-index: 100;
        height: 100%;
        width: 100%;
        .messageInput {
            position: absolute;
            z-index: 101;
            top: 50%;
            left: 50%;
            // width: 30vw;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

        }
        .messageHistory {
            position: absolute;
            right: 0;
            bottom: 20vw;
            width: 20vw;
            height: 50vw;
            .content {
                width: 20vw;
            }
        }
        .functionalBtn {
            width: auto;
        }
        .messageTrig {
            position: absolute;
            right: 3%;
            top: 3%;
            text-align: right;
        }
        .joystickLeft {
            position: absolute;
            left: 5%;
            bottom: 5%;
        }
        .joystickRight {
            position: absolute;
            right: 5%;
            bottom: 5%;
        }
    }
}